.container-fluid {height : 600px;}

#carousel {height: 50px;}

.d-block{
	min-height: 300px;
	max-height: 550px;
}
li{
   list-style:none;
}

table tr td{
	border: 1px solid black;
	table-layout:fixed;
	text-align: center;
}

table tr th{
	border: 1px solid black;
	table-layout:fixed;
	text-align: center;
}


/*Gandalf*/
.photo {
  border: 1px;
  width: 500px;
}
.GandalfPhoto{
  width: 100%;
  opacity: 0.5;
}
.coins{
  text-align:center;
  position: absolute;
  width: 200px;
  top: 20px;
  left: 55px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
}
.Gandalf{
  position: absolute;
  color:white;
  text-align:center;
  width: 200px;
  top: 100px;
  left: 55px;
  font-size: 15px;
}
.orange{
  color:orange;
}
p{
  font-weight:bold;
}
.p1{
  font-size:2em;
}
.p2{
  font-size:3em;
}
.photo img:hover~.coins{display:none;}

.photo img:hover~.Gandalf{
  font-size: 8px;
  top: 250px;
  left: 55px;
}
.GandalfPhoto:hover {opacity: 1;}


/*Gollum photo*/
.Gollum{
  width: 100%;
  opacity: 0.5;
}  
.p3{
	color: black;
	font-size: 30px;
}
.Gollum:hover {opacity: 1;}



/*Why the ring*/
.pGollum{
	color:grey;
	text-align: center;
}
